<IfModule mod_speling.c>
  CheckSpelling Off
</IfModule>

#Set expires dates...
<IfModule mod_expires.c>
  ExpiresActive on

  #Icon files (1 month)...
  ExpiresByType image/vnd.microsoft.icon "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 month"

  #Images files (7 days)...
  ExpiresByType image/jpg "access plus 7 days"
  ExpiresByType image/gif "access plus 7 days"
  ExpiresByType image/jpeg "access plus 7 days"
  ExpiresByType image/png "access plus 7 days"

  #CSS files (3 days)...
  ExpiresByType text/css "access plus 3 days"

  #JavaScript files (3 days)...
  ExpiresByType application/javascript "access plus 3 days"
  ExpiresByType application/x-javascript "access plus 3 days"

  #All other files (24 hours)...
  ExpiresDefault "access plus 24 hours"
</IfModule>

ErrorDocument 404 /404.php

<FilesMatch "\.inc$">
 Order Deny,Allow
 Deny from all
</FilesMatch>

#Redirect PAD download URL to current WinMerge version...
Redirect permanent /downloads/WinMerge-Setup.exe http://downloads.sourceforge.net/winmerge/WinMerge-2.14.0-Setup.exe

#Redirect www.winmerge.org to winmerge.org...
RewriteEngine On
RewriteCond   %{HTTP_HOST} ^www\.winmerge\.org$ [NC]
RewriteRule   ^(.*)$ http://winmerge.org/$1 [R=permanent,L]

#CSS versioning...
RewriteEngine On
RewriteBase   /
RewriteRule   ^engine/css/(screen|print)-v[0-9]+.css$ /engine/css/$1.css [L]

#Move some pages to the Bitbucket Wiki...
Redirect permanent /about/history.php https://bitbucket.org/winmerge/winmerge/wiki/ReleaseHistory

#Move old pages to new screenshot page...
Redirect permanent /about/ /
Redirect permanent /about/screenshots/ /screenshots/

#Move screenshot.png to new file...
Redirect permanent /about/screenshots/screenshot.png /screenshots/filecmp.png
Redirect permanent /screenshots/screenshot.png /screenshots/filecmp.png

#Move old pages to new source code page...
Redirect permanent /about/license.php /source-code/
Redirect permanent /downloads/source-code.php /source-code/

#Move old translations status to new one...
Redirect permanent /translations/status_branch.php /translations/
Redirect permanent /translations/status_branch_rss.php /translations/status-feed/
Redirect permanent /translations/status_trunk.php /translations/
Redirect permanent /translations/status_trunk_rss.php /translations/status-feed/

#Move manual to a own sub domain...
Redirect permanent /docs/manual/ http://manual.winmerge.org/

#Move quick tour to a own sub domain...
Redirect permanent /docs/tour/ http://tour.winmerge.org/

#Move forums to a own sub domain...
Redirect permanent /forums http://forums.winmerge.org/

#Tracker shortcuts...
RewriteEngine On
RewriteBase   /
#             Old number scheme:
RewriteRule   ^bug/(\d{6,})$ https://sourceforge.net/support/tracker.php?aid=$1 [R=permanent]
RewriteRule   ^patch/(\d{6,})$ https://sourceforge.net/support/tracker.php?aid=$1 [R=permanent]
RewriteRule   ^support/(\d{6,})$ https://sourceforge.net/support/tracker.php?aid=$1 [R=permanent]
RewriteRule   ^rfe/(\d{6,})$ https://sourceforge.net/support/tracker.php?aid=$1 [R=permanent]
RewriteRule   ^todo/(\d{6,})$ https://sourceforge.net/support/tracker.php?aid=$1 [R=permanent]
RewriteRule   ^tracker/(\d{6,})$ https://sourceforge.net/support/tracker.php?aid=$1 [R=permanent]
#             New number scheme:
RewriteRule   ^bug/(\d{1,5})$ https://sourceforge.net/p/winmerge/bugs/$1/ [R=permanent]
RewriteRule   ^patch/(\d{1,5})$ https://sourceforge.net/p/winmerge/patches/$1/ [R=permanent]
RewriteRule   ^support/(\d{1,5})$ https://sourceforge.net/p/winmerge/support-requests/$1/ [R=permanent]
RewriteRule   ^rfe/(\d{1,5})$ https://sourceforge.net/p/winmerge/feature-requests/$1/ [R=permanent]
RewriteRule   ^todo/(\d{1,5})$ https://sourceforge.net/p/winmerge/todo/$1/ [R=permanent]
